<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="meet_result.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    
    
    <title>Tutor App</title>
</head>

<body>
    <%- include('nav.ejs') %>
    <div class="container align-middle" id="main-view">
        <div class="w-50 mx-auto py-5 my-5">
            <div class="mb-3">
                <h1 class="mb-3">Find a Tutor?</h2>
            </div>

            <h2>
                Tutor results:
                A <%= query.major %> tutor available on  <%= query.day %> at <%= query.time %>.
            </h2>


            <% if(tutors === undefined || tutors.length == 0){ %>
                <a>No tutor available.</a>
              <% ;} else{ %>
                <div class="card-group"> 
                    <% tutors.forEach(function(tutor) { %>
                    <div class="card my-5 mx-5">
                        <img class="card-img-top" src="profileFigure.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><%= tutor.tutor %></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Major: <%= tutor.major %></li>
                          <li class="list-group-item">Rating: <%= tutor.rating %></li>
                        </ul>
                        <div class="card-body">
                            <a href="/tutorProf/<%= tutor.A_id %>" class="card-link">View Tutor profile!</a>
                            <span id = "sel_tutor"> <button id="name"></button> </span><span><button id="review">Review Tutor</button></span>
                        </div>
                    </div>
                <% })} %>
                </div>
        </div>

        <script type="text/javascript" src="javascript/meetLink.js"></script>
    </div>

</body>


</html>
