<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="meet_result.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    
    
    <title>Tutor App</title>
</head>

<body>
    <%- include('nav.ejs') %>
    <div class="container align-middle" id="main-view">
        <div class="w-50 mx-auto py-5 my-5">
            <div class="mb-3">
                <h1 class="mb-3">Find a Tutor?</h2>
            </div>

            <h2>
                <%= query.major %> <%= query.time %> <%= query.day %>
            </h2>


            <% if(tutors === undefined || tutors.length == 0){ %>
                <a>No tutor available</a>
              <% ;} else{ %>  
                <% tutors.forEach(function(tutor) { %>
                <div class = "tutor py-1">
                    <span style="display: none;" id="tutor_id"><%= tutor.A_id%></span>
                    <span id = "sel_tutor">Name: <button id="name"><%= tutor.tutor %></button> Major: <%= tutor.major %></span>
                </div>
             <% })} %>

        </div>

        <script type="text/javascript" src="javascript/meetLink.js"></script>
    </div>

</body>


</html>
